
.r1{
    background-color: rgba(4, 69, 248, 0.6);
    text-align: center;
}
.r2{
    background-color: rgba(253, 5, 5, 0.6);
    text-align: center;
}
.r3{
    background-color: rgba(250, 246, 2, 1);
    color: black;
    text-align: center;
}
.r7{
    background-color: rgba(109, 250, 179, 0.733);
    text-align: center;
}