
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-align: center;
    
   color: black;
}
body{
    background:#333;
}
#im{
    margin-top: 50px; 

}

p{
    padding: 2%;
    margin-left: 5%;
    margin-right: 5%;
}

.cop{
color: black;
}

  .pepe {
    text-align: center;
    width: 45vh;
    margin: auto;
    background:rgba(0,0,0,0.4);
    padding: 10px 20px;
    box-sizing: border-box;
    margin-top: 15px;
    border-radius: 7px;
  }